<h2>Cadastrar Evento</h2>
<form style="border-style: solid; border-width: 1px; margin-bottom: 5px; padding: 5px; color: DarkSlateGray">
    <p>Nome: <br><input type="text" name="name" [(ngModel)]="event.name" size="50"></p>
    <p>Descrição: <br><input type="text" name="description" [(ngModel)]="event.description" size="50"></p>
    <p>Local: <br><input type="text" name="place" [(ngModel)]="event.place" size="50"></p>
    <p>Data: <br><input type="text" name="startDate" [(ngModel)]="event.startDate" size="50"></p>
    <p>Tipo: <br><input type="text" name="type" [(ngModel)]="event.type" size="50"></p>
    
    <button type="button" (click)="saveEvent()" *ngIf="!update">Salvar</button>
    <button type="button" (click)="updateEvent(event.id)" *ngIf="update">Atualizar</button>
</form>

<h2>Listagem</h2>
<input type="text" name="search" placeholder="pesquisar eventos" (change)="search($event)">
<button (click)="clear()">Limpar</button>
<br><br>

<div *ngFor = "let e of filteredEvents" style="border-style: solid; border-width: 1px; margin-bottom: 5px; padding: 5px; color: DarkSlateGray">
    #id: {{e.id}}<br/>
    Nome: {{e.name}}<br/>
    Descrição: {{e.description}}<br/>
    Local: {{e.place}}<br/>
    Data: {{e.startDate | date:'shortDate'}}<br/>
    Tipo: {{e.type}}<br/>
    <button (click)="selectEvent(e.id)">editar</button> - <button (click)="removeEvent(e.id)">excluir</button>
</div>
